### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### Java compiled files ###
*.class

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
lib/javafx-sdk-21.0.9/lib/libjfxwebkit.so
lib/

### Output ###
output/*
!output/.gitkeep

### Output version 1 ###
output_v1/*
!output_v1/.gitkeep

### JSON files ###
filesJSON/*
!filesJSON/.gitkeep

### Exact patterns ###
output_exacts/*
!output_exacts/.gitkeep
